.home {
    background-image: linear-gradient(120deg, #1F62B9 0%, #c2e9fb 100%);
    color: white;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 2em;
}
.intro {
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 2.8px;
    margin-top: 4em;
    word-spacing: 0.1em;
}
.intro-text {
    max-width: 50vw;
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 1.7em;
    margin-top: 1.4em;
}
.scroll {
    margin-top: 5.2em;
}
.mouse {
    width: 1.2rem;
    height: 2.4em;
    border: 2px solid #eee;
    border-radius: 60px;
    position: relative;
    overflow: hidden; 
}
.mouse::after {
    content: '';
      width: 6px;
      height: 6px;
      position: absolute;
      top: 10px;
      left: 50%;
      transform: translateX(-50%);
      background-color: #eee;
      border-radius: 50%;
      opacity: 1;
      animation: wheel 1.3s infinite;
       }
  
  @keyframes wheel {
    to {
      opacity: 0;
      top: 40px; } }
  
