header {
    display: flex;
    height: 10vh;
    background-color: white;
    font-weight: 600;
    position: fixed;
    width: 100%;
    top: 0;
}
.header-link {
    text-transform: uppercase;
    margin-right: 3em;
}
.left-head {
    display: flex;
    margin-right: auto;
    margin-left: 2.4em;
    gap: 1rem;
    align-items: center;
}
.header-img {
    border-radius: 50%;
    width: 8%;
}
.header-name {
    font-size: 1em; 
}
.right-head {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0.9em;
}