@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200;300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Source Sans 3', sans-serif;
  overflow-x: hidden;
}

.link-btn {
  background-color: #1F62B9;
  color: white;
  padding: 0.5em 2em;
  border-radius: 4px;
  font-weight: 600;
  letter-spacing: 1px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  transition: transform .3s;
  text-transform: uppercase;
  cursor: pointer;
}
.link-btn:hover {
  transform: translateY(-3px);
}
.title {
  font-size: 2.2em;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  letter-spacing: 2px;
}
.title::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 18%;
  padding-top: 7px;
  border-bottom: 5px solid #1F62B9;
  border-radius: 4px;
}

.text {
    color: gray;
    font-size: 1.1em;
}